<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resumizer Pro</title>
    <!-- CUSTOM CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core CSS -->

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" ng-app="myApp" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Resumizer Pro</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#create">Create a Resume</a>
                </li>
                <li>
                    <a class="page-scroll" href="#samples">Browse Sample Resumes</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="signout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to the Resumizer Pro!</div>
            <div class="intro-heading">We are here to help you</div>
            <a data-uk-modal="{target:'#login',modal:false, bgclose:false}" class="btn btn-xl">Login</a>
        </div>
    </div>
</header>

<!-- Create a Resume Section -->
<div id="login" class="uk-modal" style="display: none;">
    <a href="" class="btn btn-default uk-close"
       style="height: 50px; width: 50px;margin-top:10%; margin-left: 50%; position: absolute; z-index:10"></a>
    <div class="uk-modal-dialog uk-modal-close" style="width:940px; height: 600px; margin-top:10%; border-radius: 9%"
         ng-controller="RegisterCtrl">
        <iframe style="width: 100%; height:100%;" scrolling="auto" frameborder="0" src="login" hspace="0"></iframe>
    </div>
</div>
<section id="create">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Create a Resume</h2>
                <h3 class="section-subheading text-muted">Click an option to get started.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading"><a href="chronological">Chronological Resume</a></h4>
                <p class="text-muted"><strong>What is a Chronological Resume?</strong> Chronological resumes list work
                    history chronologically, starting with the most recent job then listing them to the earliest job.
                    Most employers prefer this format because it provides a quick overview of a candidate's work
                    history, with the most recent positions at the top. This is the most commonly used resume format.
                </p>
                <p class="text-muted"><strong>Is this resume type right for me?</strong> If you have a solid work
                    history, your experience is aligned with the job you are applying to, and you have no lapses between
                    employment, use this format.</p>
            </div>
            <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading"><a href="functional">Functional Resume</a></h4>
                <p class="text-muted"><strong>What is a Functional Resume?</strong> Functional resumes place skills and
                    experience first. Rather than leading with experience like a chronological resume, this type of
                    resume de-emphasizes the dates worked. Employment history is comes later, and is listed beneath the
                    details of a job seeker's skills.</p>
                <p class="text-muted"><strong>Is this resume type right for me?</strong> In between careers? Got lapses
                    in employment? Are you a recent college graduate that has limited work experience? Do you a diverse
                    background with no clear career path? If you answered yes to any of these, this is the most
                    effective type of resume.</p>
            </div>
            <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading"><a href="combination">Combination Resume</a></h4>
                <p class="text-muted"><strong>What is a Combination Resume?</strong> Combination resumes allow a fusion
                    of skills and experience, while also featuring a chronological listing of work history. The
                    combination resume presents a way of tailoring the resume to a prospective job opening to tell a
                    story.</p>
                <p class="text-muted"><strong>Is this resume type right for me?</strong> Show a hiring manager you can
                    fit their job opening, and use this resume to detail work experience and skills to nab that
                    position.</p>
            </div>
            <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading"><a href="targeted">Targeted Resume</a></h4>
                <p class="text-muted"><strong>What is a Targeted Resume?</strong> Targeted resumes are customized in
                    detail to the prospective job being sought. Every component from the objective, to the
                    qualifications to educational experience closely mirrors the requirements of the job position.</p>
                <p class="text-muted"><strong>Is this resume type right for me?</strong> These resumes can generate the
                    best results as the qualifications and experience you outline mirror the prospective job opening
                    closely. However, they are also very time consuming as a new resume is required for each job.
                    However, be as accurate as possible and make sure not to embellish career highlights simply to snag
                    the open job.</p>
            </div>
        </div>
    </div>
</section>

<!-- Sample Resume Grid Section -->
<section id="samples" class="bg-navy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color:#ffffff">Browse Sample Resumes</h2>
                <h3 class="section-subheading text-muted">Take a Look to Get Some Ideas</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#samplesModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/samples/samples1.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4 style="color:#ffffff">Sample Resume 1</h4>
                    <!--
                    <p class="text-muted">Graphic Design</p>
                    -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#samplesModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/samples/samples2.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4 style="color:#ffffff">Sample Resume 2</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#samplesModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/samples/samples3.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4 style="color:#ffffff">Sample Resume 3</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">Send us an email with your question.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" required
                                       data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required
                                       data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message *" id="message" required
                                          data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; 2016, Team 3</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Resume Samples Modals -->

<!-- Resume Sample 1 -->
<div class="portfolio-modal modal fade" id="samplesModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sample Resume 1</h2>
                        <p class="item-intro text-muted">Take a look at one possible resume</p>
                        <img class="img-responsive img-centered" src="img/samples/samples1.png" alt="">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close Project
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Resume Sample 2 -->
<div class="portfolio-modal modal fade" id="samplesModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Sample Resume 2</h2>
                        <p class="item-intro text-muted">Take a look at one possible resume</p>
                        <img class="img-responsive img-centered" src="img/samples/samples2.png" alt="">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close Project
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Resume Sample 3 -->
<div class="portfolio-modal modal fade" id="samplesModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Sample Resume 3</h2>
                        <p class="item-intro text-muted">Take a look at one possible resume</p>
                        <img class="img-responsive img-centered" src="img/samples/samples3.png" alt="">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close Project
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- CUSTOM JAVASCRIPT -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/uikit.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/agency.min.js"></script>

</body>

</html>
