.navbar-brand
{
    padding-top: 0px;
    margin-top: -6%;
    top: 0%;
    align-self: baseline;
    color: inherit !important;
}
.navbar-default{
  background:  #98002E;
  border-color:  #F9A01B;
  color: #FFFFFF;
}
a{
  color: inherit !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background: #FFFFFF;
  color: #555 !important;
}
